.Heerro-2 {
  height: 113vh;
  width: 100%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(233, 231, 231);
}

.Hero2 {
  border: 3px solid blue;
  width: 93.5%;
  height: 90%;
}

.Hero2-Top {
  border: 3px solid maroon;
  height: 10%;
  width: 100%;
}

.Hero2-Bttm {
  border: 3px solid maroon;
  height: 80%;
  width: 100%;
}
