.newSTYLE-LEFT {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 90px;
  /* border: 2px solid rebeccapurple; */
}

.nwSTYL-lft {
  /* border: 2px solid black; */
  padding: 10px;
  box-shadow: 0 0 8px 0 black;
  border-radius: 20px;
  height: 40%;
  width: 100%;
}

.nwSTYL-lftUP {
  border-bottom: 5px solid brown;
  height: 15%;
  width: 100%;
  padding: 10px;
  transition: ease-in-out 0.5s;
}
.nwSTYL-lftUP:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: ease-in-out 0.5s;
  color: brown;
  text-decoration: none;
}
.nwSTYL-lftUP h3 {
  font-size: 20px;
  text-transform: capitalize;
  transition: ease-in-out 0.5s;
}

.nwSTYL-lftDWN {
  height: 85%;
  width: 100%;
  padding: 8px;
  /* border: 2px solid gold */
}

.iccn {
  color: brown;
}

.nwSTYL-lftDWN li {
  list-style: none;
  text-transform: capitalize;
  color: black;
  line-height: 35px;
}

.nwSTYL-lftDWN li span {
  list-style: none;
  text-transform: capitalize;
  color: black;
  /* line-height: 30px; */
  font-size: 15px;
}

.newSTYLE-LEFTdown {
  height: 50%;
  width: 100%;
  /* border: 2px solid gold */
}
.cata-LOGUE {
  /* border: 2px solid black; */
  padding: 10px;
  box-shadow: 0 0 8px 0 black;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.cataLOGUE-UP {
  border-bottom: 5px solid brown;
  height: 12%;
  width: 100%;
  padding: 10px;
  transition: ease-in-out 0.5s;
}

.cataLOGUE-UP:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: ease-in-out 0.5s;
  color: brown;
  text-decoration: none;
}
.cataLOGUE-UP h3 {
  text-transform: capitalize;
  font-size: 20px;
  transition: ease-in-out 0.5s;
}

.cataLOGUE-BTTM {
  height: 80%;
  width: 100%;
  padding-top: 20px;
}

.cataLOGUE-BTTM1 {
  height: 25%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px;
  /* border: 1px solid black; */
  box-shadow: 0 0 8px 0 black;
  border-radius: 5px;
}
.cataLOGUE-BTTM1 p {
  font-weight: 600;
  text-transform: capitalize;
}

.catlg-BTTM1dwn {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.priceRANGE {
  /* border: 2px solid gold; */
  width: 90%;
  color: brown;
  cursor: pointer;
}

.cataLOGUE-BTTM2 {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px;
  /* border: 1px solid black; */
  padding: 10px;
  box-shadow: 0 0 8px 0 black;
  border-radius: 5px;
}
.cataLOGUE-BTTM2 p {
  font-weight: 600;
  text-transform: capitalize;
}

.siZE {
  display: flex;
  justify-content: space-evenly;
}

.si-ze {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.active1 {
  background: red;
}

.cataLOGUE-BTTM3 {
  height: 55%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;
  /* border: 1px solid black; */
  padding: 10px;
  box-shadow: 0 0 8px 0 black;
  border-radius: 5px;
}
.BTTM3-up {
  /* border: 2px solid gold */
  height: 15%;
  font-weight: 600;
  text-transform: capitalize;
  padding-left: 5px;
}

.BTTM3-dwn {
  /* border: 2px solid gold */
  width: 100%;
  height: 80%;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 7 px;
  text-transform: capitalize;
  font-weight: 500;
}

.BTTM3-dwn1 {
  /* border: 2px solid palevioletred; */
  display: flex;
  gap: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.bttmDwnCrcle1 {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  /* border: 2px solid gold */
  margin-top: 5px;
  background-color: red;
}
.BTTM3-dwn p {
  padding-top: 5px;
  /* border: 2px solid gold */
}

.BTTM3-dwn2 {
  /* border: 2px solid palevioletred; */
  display: flex;
  gap: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.bttmDwnCrcle2 {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  /* border: 2px solid gold */
  margin-top: 5px;
  background-color: white;
}

.BTTM3-dwn3 {
  /* border: 2px solid palevioletred; */
  display: flex;
  gap: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.bttmDwnCrcle3 {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  /* border: 2px solid gold */
  margin-top: 5px;
  background-color: blue;
}
.BTTM3-dwn4 {
  /* border: 2px solid palevioletred; */
  display: flex;
  gap: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.bttmDwnCrcle4 {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  /* border: 2px solid gold */
  margin-top: 5px;
  background-color: yellow;
}
